input,
label {
  cursor: pointer;
  display: block;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button,
label[type="number"]::-webkit-inner-spin-button,
label[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --sCyan: hsl(172, 67%, 45%);
  --xDarkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --darkGrayCyan: hsl(184, 14%, 56%);
  --xlightGrayCyan: hsl(185, 41%, 84%);
  --lightGrayCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  margin-top: 30px;
  background: var(--xlightGrayCyan);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculator {
  background-color: #fff;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.calculator h2 {
  color: var(--darkGrayCyan);
}

.calculator input[type="radio"] {
  display: none;
}

.calculator input[type="number"] {
  background-color: var(--xlightGrayCyan);
  color: var(--xDarkCyan);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  height: 35px;
  font-family: "Space Mono", monospace;
}

.calculator input[type="number"]::-webkit-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]:-ms-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]::-ms-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]::placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]:not(.custom) {
  width: 100%;
  text-align: right;
}

.calculator input[type="number"]:not(.custom)::-webkit-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom):-ms-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom)::-ms-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom)::placeholder {
  text-align: right;
}

.calculator input[type="number"]::-webkit-inner-spin-button, .calculator input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator__bill-tips-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
  gap: 10px;
}

.calculator__bill-tips-grid label {
  display: block;
  text-align: center;
  background-color: var(--xDarkCyan);
  color: var(--white);
  font-size: 24px;
  border-radius: 5px;
}

.calculator__bill-tips-grid .custom {
  width: 200px;
  text-align: center;
}

.calculator__bill-tips-grid .custom ::-webkit-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom :-ms-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom ::-ms-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom ::placeholder {
  text-align: center;
}

.calculator__bill-icon img {
  position: absolute;
  -webkit-transform: translateY(50%) translateX(50%);
          transform: translateY(50%) translateX(50%);
}

.calculator__total {
  background-color: var(--xDarkCyan);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.calculator__total-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__total-element h2 {
  line-height: 5px;
  color: var(--white);
}

.calculator__total-element small {
  color: var(--xlightGrayCyan);
}

.calculator__total p {
  color: var(--sCyan);
  font-weight: bold;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */