:root {
  --sCyan: hsl(172, 67%, 45%);
  --xDarkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --darkGrayCyan: hsl(184, 14%, 56%);
  --xlightGrayCyan: hsl(185, 41%, 84%);
  --lightGrayCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 30px 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background: var(--xlightGrayCyan);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.calculator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
}

.calculator h2 {
  color: var(--darkGrayCyan);
  font-size: 17px;
}

.calculator input[type="radio"] {
  display: none;
}

.calculator input[type="number"] {
  background-color: var(--xlightGrayCyan);
  color: var(--xDarkCyan);
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  font-family: "Space Mono", monospace;
  cursor: pointer;
  outline: none;
}

.calculator input[type="number"]:focus {
  border: 2px solid var(--sCyan);
  background-color: var(--white);
}

.calculator input[type="number"]::-webkit-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]:-ms-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]::-ms-input-placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]::placeholder {
  color: var(--xDarkCyan);
}

.calculator input[type="number"]:not(.custom) {
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

.calculator input[type="number"]:not(.custom)::-webkit-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom):-ms-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom)::-ms-input-placeholder {
  text-align: right;
}

.calculator input[type="number"]:not(.custom)::placeholder {
  text-align: right;
}

.calculator input[type="number"]::-webkit-inner-spin-button, .calculator input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calculator__bill-tips-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  gap: 10px;
}

.calculator__bill-tips-grid input[type="radio"]:checked ~ label {
  color: var(--xDarkCyan);
  background-color: var(--sCyan);
}

.calculator__bill-tips-grid label {
  display: block;
  text-align: center;
  background-color: var(--xDarkCyan);
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.calculator__bill-tips-grid label:hover {
  background-color: var(--xlightGrayCyan);
  color: var(--xDarkCyan);
}

.calculator__bill-tips-grid .custom {
  width: 100%;
  text-align: center;
}

.calculator__bill-tips-grid .custom ::-webkit-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom :-ms-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom ::-ms-input-placeholder {
  text-align: center;
}

.calculator__bill-tips-grid .custom ::placeholder {
  text-align: center;
}

.calculator__bill-icon img {
  position: absolute;
  -webkit-transform: translateY(70%) translateX(100%) scale(1.3);
          transform: translateY(70%) translateX(100%) scale(1.3);
}

.calculator__bill-people-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__bill-people-header h2 {
  width: 100%;
}

.calculator__bill-people-header .message {
  text-align: right;
  font-size: 15px;
  margin: 0;
  width: 70%;
  font-weight: bold;
  color: #d9534f;
}

.calculator__total {
  background-color: var(--xDarkCyan);
  padding: 20px;
  margin-top: 30px;
  border-radius: 5px;
}

.calculator__total-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__total-element h2 {
  font-size: 17px;
  line-height: 0px;
  color: var(--white);
}

.calculator__total-element small {
  color: var(--xlightGrayCyan);
}

.calculator__total p {
  color: var(--sCyan);
  font-weight: bold;
  font-size: 30px;
}

.calculator button {
  background-color: var(--sCyan);
  border: none;
  border-radius: 5px;
  color: var(--xDarkCyan);
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 24px;
  height: 50px;
  outline: none;
  width: 100%;
}

.calculator button:hover {
  background-color: var(--xlightGrayCyan);
}

.calculator .error {
  border: 2px solid #d9534f !important;
}

@media (min-width: 900px) {
  .calculator {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 70vw;
    margin: auto;
  }
  .calculator h2 {
    font-size: 20px;
  }
  .calculator__bill-tips-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .calculator__bill .message {
    font-size: 20px;
  }
  .calculator__total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */