// The designs were created to the following widths:

//  - Mobile: 375px
//  - Desktop: 1440px

:root {
  // PRIMARY COLOR

  --sCyan: hsl(172, 67%, 45%);

  // NEUTRAL
  --xDarkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --darkGrayCyan: hsl(184, 14%, 56%);
  --xlightGrayCyan: hsl(185, 41%, 84%);
  --lightGrayCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  // - Font size (form inputs): 24px
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 30px 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background: var(--xlightGrayCyan);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  h2 {
    color: var(--darkGrayCyan);
  }
  input[type="radio"] {
    display: none;
  }

  input[type="number"] {
    //Colors
    background-color: var(--xlightGrayCyan);
    color: var(--xDarkCyan);
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Space Mono", monospace;
    cursor: pointer;
    outline: none;
    &::placeholder {
      color: var(--xDarkCyan);
    }

    &:not(.custom) {
      width: 100%;
      text-align: right;
      padding-right: 10px;
      &::placeholder {
        text-align: right;
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__bill {
    &-tips-grid {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      gap: 10px;
      input[type="radio"]:checked ~ label {
        color: var(--xDarkCyan);
        background-color: var(--sCyan);
      }
      label {
        display: block;
        text-align: center;
        background-color: var(--xDarkCyan);
        color: var(--white);
        font-size: 24px;
        border-radius: 5px;
        cursor: pointer;
      }
      .custom {
        width: 100%;
        text-align: center;
        ::placeholder {
          text-align: center;
        }
      }
    }
    &-icon {
      img {
        position: absolute;
        transform: translateY(60%) translateX(100%);
      }
    }

    &-people {
      position: relative;
    }
  }

  &__total {
    background-color: var(--xDarkCyan);
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    &-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        line-height: 0px;
        color: var(--white);
      }
      small {
        color: var(--xlightGrayCyan);
      }
    }
    p {
      color: var(--sCyan);
      font-weight: bold;
      font-size: 30px;
    }
  }

  button {
    background-color: var(--sCyan);
    border: none;
    color: var(--xDarkCyan);
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 24px;
    height: 50px;
    outline: none;
    width: 100%;
  }

  .error {
    border: 1px solid #d9534f !important;
    &-message {
      display: block;
      text-align: right;
      font-size: 24px;
      position: absolute;
      transform: translateY(-150%);
      width: 100%;
      font-weight: bold;
      color: #d9534f;
    }
  }
  .none {
    display: none;
  }
}

// - Family: [Space Mono](https://fonts.google.com/specimen/Space+Mono)
// - Weights: 400, 500, 700

@media (min-width: 900px) {
  .calculator {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 70vw;
    margin: auto;

    &__total {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
