// The designs were created to the following widths:

//  - Mobile: 375px
//  - Desktop: 1440px

:root {
  // PRIMARY COLOR

  --sCyan: hsl(172, 67%, 45%);

  // NEUTRAL
  --xDarkCyan: hsl(183, 100%, 15%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --darkGrayCyan: hsl(184, 14%, 56%);
  --xlightGrayCyan: hsl(185, 41%, 84%);
  --lightGrayCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  // - Font size (form inputs): 24px
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 30px 0;
  margin: 0;
  font-family: "Space Mono", monospace;
  background: var(--xlightGrayCyan);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  h2 {
    color: var(--darkGrayCyan);
    font-size: 15px;
  }
  input[type="radio"] {
    display: none;
  }

  input[type="number"] {
    background-color: var(--xlightGrayCyan);
    color: var(--xDarkCyan);
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Space Mono", monospace;
    cursor: pointer;
    outline: none;

    &:focus {
      border: 2px solid var(--sCyan);
      background-color: var(--white);
    }
    &::placeholder {
      color: var(--xDarkCyan);
    }

    &:not(.custom) {
      width: 100%;
      text-align: right;
      padding-right: 20px;
      &::placeholder {
        text-align: right;
      }
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__bill {
    &-tips-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      input[type="radio"]:checked ~ label {
        color: var(--xDarkCyan);
        background-color: var(--sCyan);
      }
      label {
        display: block;
        text-align: center;
        background-color: var(--xDarkCyan);
        color: var(--white);
        font-size: 24px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        &:hover {
          background-color: var(--xlightGrayCyan);
          color: var(--xDarkCyan);
        }
      }
      .custom {
        width: 100%;
        text-align: center;
        ::placeholder {
          text-align: center;
        }
      }
    }
    &-icon {
      img {
        position: absolute;
        transform: translateY(70%) translateX(100%) scale(1.3);
      }
    }

    &-people-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      h2 {
        width: 100%;
      }
      .message {
        text-align: right;
        font-size: 15px;
        margin: 0;
        width: 70%;
        font-weight: bold;
        color: #d9534f;
      }
    }
  }

  &__total {
    background-color: var(--xDarkCyan);
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    &-element {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 20px;
        line-height: 0px;
        color: var(--white);
      }
      small {
        color: var(--xlightGrayCyan);
      }
    }
    p {
      color: var(--sCyan);
      font-weight: bold;
      font-size: 40px;
    }
  }

  button {
    background-color: var(--sCyan);
    border: none;
    border-radius: 5px;
    display: block;
    font-weight: bold;
    font-size: 24px;
    height: 50px;
    filter: brightness(60%);
    outline: none;
    width: 100%;
  }

  button:enabled {
    color: var(--xDarkCyan);
    cursor: pointer;
    filter: brightness(100%);
    &:hover {
      background-color: var(--xlightGrayCyan);
    }
  }

  .error {
    border: 2px solid #d9534f !important;
  }
}

@media (min-width: 900px) {
  body {
    padding-top: 80px;
  }
  .calculator {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 900px;
    height: 420px;
    padding: 30px;
    margin: auto;
    h2 {
      font-size: 20px;
    }
    &__bill {
      &-tips-grid {
        grid-template-columns: repeat(3, 1fr);
      }
      .message {
        font-size: 20px;
      }
    }

    &__total {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0;
      &-element {
        height: 80px;
        h2 {
          font-size: 17px;
        }
        p {
          font-size: 44px;
        }
      }
    }
  }
}
